body {
	font-family: 'Noto Sans';
	//padding-bottom:40px;
	background-color: $black;
	color: $black;
	overflow-x:hidden;
}

b, strong {
	font-weight: normal;
	font-family: 'Noto Sans Bold';
}

.image-tag {
	position: absolute;
}

#wrapper {
	max-width:1440px;
	margin:0 auto;
}

.content {
	background: url('../../images/bg-content.jpg') top center no-repeat $black;
	background-size: 100% auto;
}

.section-container {
	padding: 140px 0;
}

.campo {
	input[type="text"], select {
		width:100%;
		max-width: 350px;
		height: 50px;
		border: 2px solid #7e7e7e;
		outline:none;
		padding: 0 10px;
		line-height:50px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
		font-family: 'Noto Sans'!important;
		color:#7e7e7e;
	}
	select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff url(../../images/select-arrow.jpg) no-repeat right center;
    cursor: pointer;
    background-position-x: 96%;
	}
}

#cpf_invalido, #reenviamos, #cpf_nao_preenchido {
	display:none;
}

sup {
  top: -0.3em;
}

a, button {
	outline: none!important;
}

.lnk {
	color:$black;
	text-decoration:underline;
	&.white {
		color:$white;
	}
	&:hover {
		color:$orange;
	}
}

.owl-carousel .owl-item img {
	display:inline-block;
  width: auto;
  max-width: 100%;
}

// responsive

@media (min-width: 1366.98px) {
	.container-fluid {
		max-width: 1114px;
		margin:0 auto;
	}
	.section-container {
		padding: 100px 0;
	}
}

@media (max-width: 1366px) {
	.container-fluid {
		max-width: 1070px;
		margin:0 auto;
	}
	.section-container {
		padding: 96px 0;
	}
}

@media (max-width: 1280px) {
	.container-fluid {
		max-width: 985px;
		margin:0 auto;
	}
	.section-container {
		padding: 80px 0;
	}
}

@media (max-width: 1024px) {
	.container-fluid {
		max-width: 790px;
		margin:0 auto;
	}
	.section-container {
		padding: 80px 0;
	}
}

@media (max-width: 991.98px) {
	.container-fluid {
		max-width: 595px;
		margin:0 auto;
	}
	.section-container {
		padding: 80px 0;
	}
}

@media (max-width: 575.98px) {
	.container-fluid {
		max-width: 595px;
		margin:0 auto;
	}
	.section-container {
		padding: 40px 0;
	}
}