body {
	font-family: 'Trade Gothic LT Std 18';
	padding-bottom:40px;
}

b, strong {
	font-weight: normal;
	font-family: 'Trade Gothic LT Std 20';
}

.section-container {
	@extend %heightPattern;
	padding: 50px 0;
}

// responsive

@media (max-width: 991.98px) {
	
}