footer {
	background: $black;
	color: $white;
  padding: 140px 0;
  .font-size-1 {
		font-size: 1.3em;
	}
	.social-icons {
		margin-bottom:64px;
		a {
			display: inline-block;
			margin:0 15px;
		}
	}
	.font-size-2 {
    font-size: .7em;
    line-height: 14px;
    margin-bottom:0;
	}
	.rights {
		max-width: 470px;
		margin:0 auto;
	}
}

// responsive

@media (min-width: 1366.98px) {
	footer {
		padding: 180px 0;
	}
}

@media (max-width: 1366px) {
	
}

@media (max-width: 1280px) {
	
}

@media (max-width: 1024px) {
	footer {
	  padding: 100px 0;
	}
}

@media (max-width: 768px) {
	footer {
	  padding: 56px 0;
	}
}

@media (max-width: 480px) {
	footer {
	  .text-left {
	    text-align: center!important;
		}
	}
}