#modalNaoPossuiCNH {
  p {
    text-transform:uppercase;
  }
}

#modalRegulamento {
  .title-regulamento {
    color:$orange;
    font-size:4.5em;
  }
  .modal-body {
    font-size:12.5px;
    ol {
      margin:0;
      padding:0;
      padding-left:1em;
    }
  }
  .reg-scroll {
    max-height: 1000px;
    overflow-y: scroll;
    padding-right:1em;
  }
}

.modal-content {
  background-color: #292929;
  padding:22px 22px;
  border-radius: 0;
  border: 0;
}

.modal-container {  
  border: 4px solid $orange;
  color:#ffffff;
}

.modal-header {
  border-bottom: 0;
  .close {
    font-size: 1rem;
    font-weight: normal;
    color: #fff;
    text-shadow: none;
    opacity:1;
    b {
      font-size: 1.5rem;
      position:relative;
      top:3px;
    }
  }
}

.modal-body {
  padding-bottom: 40px;
  .campo {
    margin: 30px 0;
    input[type="text"] {
      border: 2px solid $orange;
      color:#ffffff;
      background:transparent;
    }
  }
  ::-webkit-input-placeholder {
    color:#ffffff;
  }
  :-moz-placeholder { /* Firefox 18- */
    color:#ffffff; 
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    color:#ffffff;  
  }
  :-ms-input-placeholder {  
    color:#ffffff;  
  }
}

.modal-backdrop.show {
  opacity: .3;
}

// responsive

@media (min-width: 1366.98px) {
  .modal-dialog {
    max-width: 743px;
  }
  #modalNaoPossuiCNH {
    .modal-dialog {
      max-width: 643px;
    }
    p {
      font-size: 2em;
      margin-bottom:40px;
    }
    .bt {
      margin-bottom:40px;
    }
  }
}

@media (max-width: 1366px) {
  .modal-dialog {
    max-width: 713px;
  }
  #modalNaoPossuiCNH {
    .modal-dialog {
      max-width: 643px;
    }
    p {
      font-size: 1.8em;
      margin-bottom:40px;
    }
    .bt {
      margin-bottom:40px;
    }
  }
}

@media (max-width: 1280px) {
  .modal-dialog {
    max-width: 643px;
  }
  #modalNaoPossuiCNH {
    .modal-dialog {
      max-width: 478px;
    }
    p {
      font-size: 1.4em;
      margin-bottom:30px;
    }
    .bt {
      margin-bottom:30px;
    }
  }
}

@media (max-width: 1024px) {
  .modal-dialog {
    max-width: 543px;
    padding:12px 12px;
  }
  #modalNaoPossuiCNH {
    p {
      font-size: 1.4em;
      margin-bottom: 20px;
    }
    .bt {
      margin-bottom:40px;
    }
  }
  .modal-container {
    border: 2px solid $orange;
  }
  #modalRegulamento {
    .title-regulamento {
      font-size:3.5em;
    }
  }
}

@media (max-width: 768px) {
  .modal-dialog {
    max-width: 500px;
  }
  #modalNaoPossuiCNH {
    p {
      font-size: 1.2em;
      margin-bottom: 20px;
    }
    .bt {
      margin-bottom:40px;
    }
  }
}

@media (max-width: 576px) {
  #modalNaoPossuiCNH {
    p {
      font-size: 1em;
      margin-bottom: 10px;
    }
    .bt {
      margin-bottom:20px;
    }
  }
  #modalRegulamento {
    .title-regulamento {
      font-size:2.5em;
    }
  }
}
