//Fonts

.font-cheddar-gothic-sans {
	font-family: 'Cheddar Gothic Sans';
}
.font-cheddar-gothic-sans-italic {
	font-family: 'Cheddar Gothic Sans Italic';
}
.font-trade-gothic-lt-std-18 {
	font-family: 'Trade Gothic LT Std 18';
}
.font-trade-gothic-lt-std-20 {
	font-family: 'Trade Gothic LT Std 20';
}
.font-trade-gothic-lt-std-20-obl {
	font-family: 'Trade Gothic LT Std 20 Obl';
}

// btn


// Redes sociais