@import "fonts";
@import "variables";
@import "utilities";
@import "modal";
@import "content";
@import "footer";

body.form {
	header {
		@extend %heightPattern;
		padding: 90px 0;
		background: url('../../images/banner-form.jpg') center center;
		background-size: cover;
		color: $white;
		.img-header-form {
			max-width: 260px;
			margin:0 auto;
			margin-bottom: 70px;
		}
		.font-size-42 {
			font-size: 42pt;
			margin-bottom: 0;
		}
		.font-size-14 {
			font-size: 14pt;
			margin-bottom: 70px;
		}
	}
	.content {
		background: $white;
		padding: 100px 0;
	}	
	.font-size-1-84 {
		font-size: 1.84em;
		line-height: 1.2em;
		margin-bottom: 5px;
	}
	.campo {
		margin-bottom:22px;
		label {
			font-family: 'Noto Sans Bold';
		}
		> label {
	    margin-bottom: 2px;
	    &.lb-mg-custom {
	    	margin-bottom: 13px;
	    }
		}
		.pretty.p-default input:checked~.state label:after {
			background-color: $orange!important;
		}
		.pretty .state label {
		  text-indent: 1.8em;
		}
		.pret-wd-custom {
			width: 150px;
	    margin-bottom: 10px;
		}
		.pretty .state label:before {
	    border: 2px solid #7e7e7e;
		}
		.termos {
	    margin-top: 35px;
			span {
				padding-left:30px;
			margin-top:-20px;
			}
		}
		a.lnk-regulamento{
			color:$black;
		}
	}
	.bt {
		background: $orange-2;
	}
}